<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dublin Bikes</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxd5Xu1D8hX1VLr4WHwOKoVqzfLZzM9Mo"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ url_for('static',filename='index.js') }}"></script>
    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet">
  </head>
  
  <body>
    <header>
      <div class="center">
        <h1>Dublin Bikes</h1>
      </div>
      <div id="current-weather"></div>
      </div>
    </header>

    <main>
      <div class="left-panel">
        <form>
          <label for="start-station">Departure station:</label>
          <input type="text" id="start-station" name="start-station" />
          <br />
          <label for="end-station">Destination station:</label>
          <input type="text" id="end-station" name="end-station" />
          <br />
          <label for="date">Departure time:</label>
          <input type="date" id="date" name="date" />
          <input type="time" id="time" name="time" />
          <p id="tip">(Departure time should be within 48 hours)</p>
          <br />
        </form>
        <input type="submit" value="Submit" id="submit" />
        <div id="fore-weather"></div>
      </div>
      <div class="right-panel">
        <div id="map" style="margin-right: 20px;"></div>
        <!-- Station info -->
        <div id="station-info">
          <h2 id="station-header">Station Information</h2>
          <span class="close">x</span>
          <div id="dep-info">
            <p class="station-name" id="dep-name"></p>
            <div id="dep-words"></div>
            <div id="dep-charts">
              <div id="dep-chart-1"></div>
              <div id="dep-chart-2"></div>
            </div>
          </div>
          <div id="des-info">
            <p class="station-name" id="des-name"></p>
            <div id="des-words"></div>
            <div id="des-charts">
              <div id="des-chart-1"></div>
              <div id="des-chart-2"></div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- chart -->
    <div>
      <div id="clicked-name"></div>
      <div class="chart-container">
        <div class="card">
          <div id="hourly-chart"></div>
        </div>
        <div class="card">
          <div id="daily-chart"></div>
        </div>
        <div class="card">
          <div id="prediction-chart"></div>
        </div>
      </div>
    </div>
    <div style="clear: both"></div>

    <footer>
      <p>&copy; 2023 Dublin Bike Station. All rights reserved.</p>
    </footer>

  </body>
</html>
