body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right top, #abb7ee, #9babe6, #8b9fde, #7b93d6, #6988ce, #5589cd, #3d8aca, #1a8ac6, #0095c2, #009eba, #30a5b0, #51aca6);
}

header {
    width: 100%;
    height: 90px;
    line-height: 40px;
    text-align: center;
    border-bottom: 0px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}

#current-weather {
    float: left;
    padding-left: 10px;
}

.center {
    display: inline-block;
    padding-top: 28px;
}

header h1 {
    display: inline-block;
    font-size: 36px;
    margin: 0;
    color: #333;
}

header a {
    font-size: 18px;
    text-decoration: none;
    color: #333;
    margin-left: 20px;
}

.left-panel {
    float: left;
    width: 25%;
    border-right: 0px;
    padding: 0px 20px;
    top: 70px;
    left: 0;
    height: calc(130vh - 120px);
    overflow-y: auto;
    box-sizing: border-box;
}

#station-info {
    width: 25%;
    border-right: 1px solid #ccc;
    padding: 15px 20px;
    position: absolute;
    top: 100px;
    left: 25%;
    height: calc(130vh - 120px);
    overflow-y: auto;
    background-color: #f0f0f0;
    box-sizing: border-box;
    display: none;
    z-index: 2;
}

#station-info .close {
    position: absolute;
    top: 1%;
    right: 5%;
    color: #978787;
    font-size: 20px;
    cursor: pointer;
}

.left-panel h2 {
    font-size: 24px;
    margin: 0 0 20px;
    color: #333;
}

.left-panel label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}
.staion-name {
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.left-panel input[type="text"],
.left-panel input[type="date"],
.left-panel input[type="time"] {
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    color: #333;
    font-size: 16px;
    font-family: auto;
}

.left-panel input[type="text"]:focus,
.left-panel input[type="date"]:focus,
.left-panel input[type="time"]:focus {
    transition: border linear 0.2s, box-shadow linear 0.5s;
    outline: none;
    border-color: #fff;
    box-shadow: 0 0 8px #89b8e8;
}

.left-panel input[type="submit"] {
    padding: 10px;
    font-size: 18px;
    background-color: #40b5e5;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

form {
    font-weight: bold;
}

#tip {
    font-weight: lighter;
    margin: 0;
    color: #333;
}

main {
    margin-top: 100px;
    border-bottom: 0px;
}

#fore-weather {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    color: #333;
}
/* Right panel */
.right-panel {
    width: 75%;
    height: calc(120vh - 310px);
    display: inline-block
}

#map {
    height: 100%;
}

#clicked-name {
    text-align: center;
    height: 20px;
    font-size: 16px;
}

.station-name {
    font-weight: bold;
}

.chart-container {
    width: 75%;
    float: right;
    height: 160px;
    display: flex;
    padding: 10px 0;
    flex-direction: row;
    justify-content: space-between;
    visibility: hidden;
    z-index: 1;
}

.chart-container .card {
    flex: 1;
    height: 100%;
    margin-right: 10px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: relative;
}

.chart-container .card:first-child {
    margin-left: 10px;
}

.chart-container .card:last-child {
    margin-right: 1px;
}

#hourly-chart {
    width: 100%;
    height: 100%;
}

#daily-chart {
    width: 100%;
    height: 100%;
}

#prediction-chart {
    width: 100%;
    height: 100%;
}

#dep-charts {
    margin-top: 10px;
}

#des-charts {
    margin-top: 10px;
}

#dep-chart-1 {
    margin-bottom: 5px;
}

#des-chart-1 {
    margin-bottom: 5px;
}

/* Footer */
footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #1c2127;
}

footer p {
    margin: 0;
    font-size: 18px;
    color: #fff;
}

footer a {
    color: #333;
    text-decoration: none;
}

.icon-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.icon-day {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}

.icon-temp {
    font-size: 14px;
}

.icon-row img {
    width: 50px;
    height: 50px;
    display: inline-block;
}

.location-button {
    background-color: white;
    height: 40px;
    width: 300px;
    margin: 10px;
    border: none;
    font-weight: bold;
}
